body {
    margin: 0;
}

.slide-container {
    position: relative;
}

.slides img {
    width: 100%;
}

.arrow {
    font-size: 25px;
    position: absolute;
    top: 45%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.705);
    padding: 12px 19px;
    border-radius: 50%;
    margin: 15px;
    font-weight: bold;
    display: inline-block;
}

.next {
    right: 0%;
}

.prev {
    left: 0%;
}

.caption {
    position: absolute;
    bottom: 0;
    font-size: 30px;
    color: white;
    text-align: center;
    width: 100%;
    background-color: cornflowerblue;
}

.slides {
    display: none;
}